<!DOCTYPE html>
<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='cpstyles.css') }}">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">

<head>
  <title> MEDA - eVoucher</title>
  <link href="/static/medaicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="{{url_for('static', filename='javascript/createprogram.js') }}"></script>
</head>

<div class="logo">
  <img src="/static/medalogo.png">
  eVoucher
</div>

<body>
  <div class="backbtn">
    <a href="admin">BACK TO ADMIN</a></li>
  </div>
  <div class="instructions">
    <p>Please input the name of the program you would like to create.</p>
  </div>
  <form class="dbForm">
    <input type="text" id="dbInput" placeholder="Program Name">
    <div class="createbtn">
      <button type="submit">Create Program</button>
    </div>
  </form>
  <div id="errorAlert" role="alert" style="display:none;">Could not create database</div>
  <div id="successAlert" role="alert" style="display:none;">Attempting to create database</div>
</body>



</html>
