<!DOCTYPE html>
<html>

<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles.css') }}">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display|Quicksand" rel="stylesheet">

<head>
	<title> MEDA - eVoucher</title>
	<link href="/static/medaicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>

<body>
	<div class = "header">
		<header>
			<ul>
				<li><a href='home'>LOG IN</a></li>
				<li><a href="#info">INFO</a></li>
			</ul>
		<img class="logo" src="/static/medalogo.png">
		</header>
	<div class = "banner">
		eVoucher
	</div>
	</div>
</body>
</html>
